
@{
    ViewBag.Title = "HuongDanThanhToan";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<div class="section_offset p_bottom_0 m_bottom_5">
    <div class="container">
        <h1 style="position: relative; left: 10%; color: #A12E6D; font:bold">
            Thanh toán MoMo
        </h1>
        <br />
        <img src="~/Content/product/Hotro1.png" />

        <h1 style="position: relative; left: 10%; color: #0282FF; font:bold">
            Thanh toán trực tiếp
        </h1>
        <br />
        <img src="~/Content/product/Hotro2.png" />
    </div>
</div>

