
@{
    ViewBag.Title = "Text";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="page_section_offset">
    <section class="container">
        <h2 class="fw_light second_font tt_uppercase color_dark m_bottom_35">Columns</h2>
        
        <!--one fourth-->
        <div class="row">
            <div>
                <figure class="product_item type_2 c_image_container relative frame_container t_sm_align_c r_image_container qv_container">
                    <!--image & buttons & label-->
                    <div class="relative">
                        <div class="d_block">
                            <img src="images/home_v3_img_4.jpg" alt="" class="c_image_1 tr_all">
                            <img src="images/home_img_5.jpg" alt="" class="c_image_2 tr_all">
                        </div>
                        <a data-popup="#quick_view" data-popup-transition-in="bounceInUp" data-popup-transition-out="bounceOutUp" class="tr_all color_white second_font qv_style_button quick_view tt_uppercase t_align_c d_block clickable d_xs_none"><i class="fa fa-eye d_inline_m m_right_10"></i><span class="fs_medium">Quick View</span></a>
                    </div>
                    <figcaption class="bg_white relative p_bottom_0">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 m_bottom_9">
                                <a class="second_font sc_hover d_xs_block" href="#">Eget elementum vel</a>
                                <div class="relative">
                                    <a href="#" class="fw_light color_light sc_hover category_link tr_all">Tables</a><br class="d_none">
                                    <ul class="rating_list hr_list d_sm_inline_b tr_all">
                                        <li class="color_lbrown"><i class="fa fa-star tr_all"></i></li>
                                        <li class="color_lbrown"><i class="fa fa-star tr_all"></i></li>
                                        <li class="color_lbrown"><i class="fa fa-star tr_all"></i></li>
                                        <li class="color_lbrown"><i class="fa fa-star tr_all"></i></li>
                                        <li><i class="fa fa-star tr_all"></i></li>
                                    </ul>
                                    <span class="color_light reviews d_none">
                                        <a href="#" class="sc_hover fs_medium fw_light">3 Review(s)</a> | <a href="#" class="color_dark sc_hover fs_medium fw_light">Add Your Review</a>
                                    </span>
                                </div>
                                <hr class="d_none divider_light m_bottom_15">
                                <p class="fw_light d_none m_bottom_14 color_grey">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. </p>
                                <hr class="d_none divider_light m_bottom_15">
                            </div>
                            <div class="col-lg-5 col-md-5 color_light fs_large second_font t_align_r t_sm_align_c m_bottom_9">
                                <b class="scheme_color d_block">$730.00</b>
                            </div>
                        </div>
                        <button data-popup="#add_to_cart_popup" data-popup-transition-in="bounceInUp" data-popup-transition-out="bounceOutUp" class="button_type_2 m_bottom_9 d_block w_full t_align_c lbrown state_2 tr_all second_font fs_medium tt_uppercase"><i class="fa fa-shopping-cart d_inline_m m_right_9"></i>Add To Cart</button>
                        <button class="button_type_8 grey state_2 tr_delay color_dark t_align_c vc_child f_left m_right_3 tooltip_container relative d_none"><i class="fa fa-heart fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Add to Wishlist</span></button>
                        <button class="button_type_8 grey state_2 tr_delay color_dark t_align_c vc_child f_left m_right_3 tooltip_container relative d_none"><i class="fa fa-arrow-right fs_small d_inline_m"></i><i class="fa fa-arrow-left fs_small d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Add to Compare</span></button>
                        <div class="clearfix t_sm_align_c t_xs_align_l">
                            <a href="#" class="second_font f_sm_none d_sm_inline_b f_xs_left fs_medium sc_hover f_left">Add to Wishlist</a>
                            <a href="#" class="second_font f_sm_none d_sm_inline_b f_xs_right fs_medium sc_hover f_right">Add to Compare</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div>
                <figure class="product_item type_2 c_image_container relative frame_container t_sm_align_c r_image_container qv_container">
                    <!--image & buttons & label-->
                    <div class="relative">
                        <div class="d_block">
                            <img src="images/home_v3_img_4.jpg" alt="" class="c_image_1 tr_all">
                            <img src="images/home_img_5.jpg" alt="" class="c_image_2 tr_all">
                        </div>
                        <a data-popup="#quick_view" data-popup-transition-in="bounceInUp" data-popup-transition-out="bounceOutUp" class="tr_all color_white second_font qv_style_button quick_view tt_uppercase t_align_c d_block clickable d_xs_none"><i class="fa fa-eye d_inline_m m_right_10"></i><span class="fs_medium">Quick View</span></a>
                    </div>
                    <figcaption class="bg_white relative p_bottom_0">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 m_bottom_9">
                                <a class="second_font sc_hover d_xs_block" href="#">Eget elementum vel</a>
                                <div class="relative">
                                    <a href="#" class="fw_light color_light sc_hover category_link tr_all">Tables</a><br class="d_none">
                                    <ul class="rating_list hr_list d_sm_inline_b tr_all">
                                        <li class="color_lbrown"><i class="fa fa-star tr_all"></i></li>
                                        <li class="color_lbrown"><i class="fa fa-star tr_all"></i></li>
                                        <li class="color_lbrown"><i class="fa fa-star tr_all"></i></li>
                                        <li class="color_lbrown"><i class="fa fa-star tr_all"></i></li>
                                        <li><i class="fa fa-star tr_all"></i></li>
                                    </ul>
                                    <span class="color_light reviews d_none">
                                        <a href="#" class="sc_hover fs_medium fw_light">3 Review(s)</a> | <a href="#" class="color_dark sc_hover fs_medium fw_light">Add Your Review</a>
                                    </span>
                                </div>
                                <hr class="d_none divider_light m_bottom_15">
                                <p class="fw_light d_none m_bottom_14 color_grey">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. </p>
                                <hr class="d_none divider_light m_bottom_15">
                            </div>
                            <div class="col-lg-5 col-md-5 color_light fs_large second_font t_align_r t_sm_align_c m_bottom_9">
                                <b class="scheme_color d_block">$730.00</b>
                            </div>
                        </div>
                        <button data-popup="#add_to_cart_popup" data-popup-transition-in="bounceInUp" data-popup-transition-out="bounceOutUp" class="button_type_2 m_bottom_9 d_block w_full t_align_c lbrown state_2 tr_all second_font fs_medium tt_uppercase"><i class="fa fa-shopping-cart d_inline_m m_right_9"></i>Add To Cart</button>
                        <button class="button_type_8 grey state_2 tr_delay color_dark t_align_c vc_child f_left m_right_3 tooltip_container relative d_none"><i class="fa fa-heart fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Add to Wishlist</span></button>
                        <button class="button_type_8 grey state_2 tr_delay color_dark t_align_c vc_child f_left m_right_3 tooltip_container relative d_none"><i class="fa fa-arrow-right fs_small d_inline_m"></i><i class="fa fa-arrow-left fs_small d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Add to Compare</span></button>
                        <div class="clearfix t_sm_align_c t_xs_align_l">
                            <a href="#" class="second_font f_sm_none d_sm_inline_b f_xs_left fs_medium sc_hover f_left">Add to Wishlist</a>
                            <a href="#" class="second_font f_sm_none d_sm_inline_b f_xs_right fs_medium sc_hover f_right">Add to Compare</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        
    </section>
</div>

