
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<div class="container" style="position:relative; left:35%; margin: 50px 0 170px 0">
    <h1>Thanh toán đơn hàng thành công</h1>
    <br />
    <h4>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h4>
    <br />
    <a style="position:relative; left:9%;" href="@Url.Action("HomePage","Pages")">
        <button class="button_type_2 lbrown state_2 tr_all second_font fs_ex_large">&ensp;TRỞ VỀ TRANG CHỦ&emsp;</i></button>
    </a>
</div>